.SubstationHomepage {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.SubstationHomepage > div {
    display: flex;
    flex-direction: row;
}

.SubstationHomepage > div > div > h1 {
    display: flex;
    justify-content: center;
}
.SubstationHomepage > h1 {
    display: flex;
    justify-content: center;
    background-color: #CCDBDC;
    color: #263D42;
    margin-bottom: 0;
}

.SubstationHomepage .banner {
    display: flex;
    background-color: #CCDBDC;
    color: #263D42;
    justify-content: space-around;
}

.SubstationHomepage .top-row{
    display: flex;
    flex-direction: row;
}