extends layout

append head
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  div#map.float-left
    script(src="//maps.googleapis.com/maps/api/js?key=AIzaSyCn55lIh6mJ4GnR00jjgGeWUEii5R183xA",type="text/javascript",charset="UTF-8")
    script(src='javascripts/Archive_Map.js')
  div#selection-menu.card.mb-3.float-right
    h3.card-header Select System
    div.list-group.list-group-flush
      a(href="#").list-group-item.list-group-item-action Location A
      a(href="#").list-group-item.list-group-item-action Location B
