doctype html
html
  include ./navbar.pug
  head
    style(type='text/css').
      html { height: 100% }
      body { height: 100%; margin: 0px; padding: 0px }
      #map { height: 100% }
  body
    div#nav
    //div map places a map over whole screen
    div#map
     script(src="//maps.googleapis.com/maps/api/js?key=AIzaSyCn55lIh6mJ4GnR00jjgGeWUEii5R183xA",type="text/javascript",charset="UTF-8")
     script(src='javascripts/Home_Map.js')
