doctype html
html
  block head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='shortcut icon', href='images/cloud.ico', type='image/x-icon')
  body
    block navbar
      div#nav
        include ./navbar.pug
    block content
    block scripts
