doctype html
html
  head
    title= title
    link(rel='shortcut icon', href='images/cloud.ico', type='image/x-icon')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    block navbar
      div#nav
        include ./navbar.pug
    block scripts
    block content
