extends layout

append head
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  h1 This will be livestream test
  div#livestream.float-left
    script(src='javascripts/jsmpeg.min.js')
    div.jsmpeg(data-url="media/sample_640x360.ts", data-autoplay='true', data-loop='true')
