html {
  height: 100%;
}

body {
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  color: #00B7FF;
}

#map {
  height: 100%;
}

#nav {
  margin-bottom: -21px;
}
