certifi==2019.11.28
cycler==0.10.0
Cython==0.29.15
decorator==4.1.2
idna==2.8
ipython==5.5.0
ipython-genutils==0.2.0
pysolar==0.8
python-engineio==3.11.2
python-socketio==4.4.0
pytz==2019.3
requests==2.22.0
simplegeneric==0.8.1
six==1.14.0
tzlocal==2.0.0
urllib3==1.25.8
wcwidth==0.1.7
websocket-client==0.57.0
